%h3 My account
%table.central_table
  = form_tag @user, :id=>'edit_user' do
    %tr
      %td Name
      %td= text_field_tag :name
    %tr
      %td{:colspan=>2}= submit_tag "Save", :class=>"button", :id=>"edit_profile"