%table#overview{:cellpadding => "0", :cellspacing => "8"}
  %tbody
    %tr.text3
      %td{ :valign => "top"}
        %h3 Overview of Campus Dream (CD)
    %tr.text3
      %td{:align => "left", :valign => "top"}
        Engineering and management institutions are the natural bedrock for Information
        Technology (IT) talent in the knowledge economy. As India moves towards becoming
        a true global leader in IT, these institutions and the IT industry have realized
        the need to scale up industry-ready quality students to meet the growing demands
        of the industry.
    %tr.text3
      %td{:align => "left", :valign => "top"}
    %tr.text3
      %td{:align => "left", :valign => "top"}
        However there are impediments which cause a disconnect between the demands of the
        IT industry and the skills of fresh engineering and management graduates. Sakura
        understands that institutions require active collaboration and support from the
        IT industry to realize common goals.
    %tr.text3
      %td{:align => "left", :valign => "top"}
    %tr.text3
      %td{:align => "left", :valign => "top"}
        As an initiative of creating a vibrant talent pool of future engineering
        graduates, Sakura launched Campus dream (CD), in NOV 2013, a first of its kind
        Industry-Academia interaction program. CD aims to be a forum where some of the best
        practices at industry can be shared with institutions. CD also looks at aligning
        the needs of institutions, its faculty and students, with those of the IT industry.
    %tr
      %td
    %tr.text3
      %td{:align => "left", :valign => "top", :style=>"padding:0px 0px 0px 20px"}
        The main objective of CD is to evolve a model through which corporate and academia
    %tr.text3
      %td{:align => "left", :valign => "top", :style=>"padding:0px 0px 0px 20px"}
        %li Can partner for competitiveness
    %tr.text3
      %td{:align => "left", :valign => "top", :style=>"padding:0px 0px 0px 20px"}
        %li
          Can enhance the pool of highly capable talent for growth requirements in the IT
          space
    %tr.text3
      %td{:align => "left", :valign => "top", :style=>"padding:0px 0px 0px 20px"}
        %li Can enhance the quality of IT education