%h3 Privacy policy
%p This website is designed, developed and maintained by Sakura Solutions.
%p As a general rule, this web site does not collect Personal Information about you when you visit the site. You can generally Visit this Site, without revealing, Personal Information, unless you choose to provide such information. Any Personal information collected shall be used only for the stated purpose and shall NOT be shared with any other department organization (public/private).
%p
%p Under no circumstances will this company be using your personal information for any activity except for your account management purpose.
%br/